.mobile-header {display:none;}

.mobile-header .header-top {
  background:#2b2924;  
}
  
.mobile-header .header-top .navbar-nav {
  float:right;
  margin:5px 0 0 0;
}

.mobile-header .header-top .mobile-menu-show,
.mobile-header .header-top .mobile-menu-hide {
  display:inline-block;
  padding:10px;
}

.mobile-header .logo-container {
  background:#4d4c46;
  padding:5px 0 10px 0;
}
  
@media (max-width: 1200px) {
  #popup-gallery .modal-dialog,
  #popup-map .modal-dialog {
    width:970px;
  }
  
  #search {
    width:35%;   
  }
}

@media (max-width: 1024px) {
  #popup-gallery .modal-dialog,
  #popup-map .modal-dialog {
    width:100%;
  }
  
  #popup-gallery .modal-dialog .modal-content .modal-body,
  #popup-map .modal-dialog .modal-content .modal-body {
    height:400px;
  }
  
  #popup-map .modal-dialog .modal-content .modal-body {
    height:400px;
  }
  
  #popup-gallery .modal-dialog .modal-content .modal-body img {
    height:auto;
    width:100%;
  }
  
}

@media (max-width: 992px) {
  #header {display:none;} 
  
  #nav-main,
  #left-col,
  .mobile-header .header-top .mobile-menu-hide,
  #search {display:none;}
  
  #right-col {display:none;}
  
  #content #middle-col {padding-top:0;}
  
  .mobile-header .container {padding-left:10px; padding-right:10px;}
  
  .mobile-header {display:block;}
  
  #nav-main.navbar {
    background:#4d4c46;
  }
  
  #search {background:#4d4c46; border-bottom:1px solid #2b2924; margin:0; padding:15px 0 0 0; width:100%;}
  
  #search .form-group {display:inline-block; width:92%;}
  
  #search .form-group .form-control {display:inline-block;}
  
  #content #left-col #crop-list {display:none;}
  
  .main-col .table-responsive {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
  }
  
  .main-col .pagination {font-size:16px;}
  
  .main-col {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    width:100%;
  }
  
  .pseudo-right-col {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    position:static;
  }
  
  #popup-gallery .modal-dialog,
  #popup-map .modal-dialog {
    width:100%;
  }
  
  #popup-gallery .modal-dialog .modal-content .modal-body,
  #popup-map .modal-dialog .modal-content .modal-body {
    height:400px;
  }
  
  #popup-map .modal-dialog .modal-content .modal-body {
    height:400px;
  }
  
  table.crop-details {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
  }
  
  #footer #nav-foot .nav.pull-right,
  html:not([dir="rtl"]) #nav-foot .pull-right,
  #footer #nav-foot .nav.pull-left,
  html:not([dir="rtl"]) #nav-foot .pull-left {float:none !important;}
  
  #footer #copyright p {
    color:#e7e5df;
  }
  
  .site-wrapper {
    margin-bottom:0;
  }
  
  .site-wrapper:after {
    content:"";
    display:block;   
  }
  
  #footer,
  .site-wrapper:after {
    height:auto;
  }
}

@media (max-width: 767px) {
  
  .container {padding-left:0; padding-right:0;}
  
  #middle-col {border-top:10px solid #e7e5df;}
  
  #nav-main.navbar {border-bottom:none; margin:0;}
  
  .navbar-nav {margin:0;}
  
  html[dir="rtl"] .mobile-header .header-top .navbar-nav {
    float:left;
  }
  
  .navbar-nav > li {display:inline-block;}
  
  #nav-main.navbar ul li {display:block;}
  
  #nav-main.navbar ul li a {border-bottom:1px solid #2b2924; padding:10px;}
    
  #nav-main.navbar ul li a:hover, #nav-main.navbar ul li a:focus, #nav-main.navbar ul li.active a {background:none;}
  
  #header .nav li a, 
  .mobile-header .nav li a {
    padding:10px 20px;
  }
  
  .navbar-nav .open .dropdown-menu {
    position:absolute;
  }
  
  html[dir="rtl"] .navbar-nav .open .dropdown-menu {
    right:auto;
    left:0;
  }
  
  html:not([dir="rtl"]) .mobile-header .nav li#lang .dropdown-menu {right:0;}
  
  #search .form-group {display:inline-block; width:87%;}
  
  #content #left-col {
    margin:0;
    padding:0;
  }
  
  #content #left-col h2 {padding:10px;}
  
  #left-col .nav {margin:0;}
  
  #left-col .nav li a:hover, 
  #left-col .nav li.active a, 
  #left-col .nav li a {background:#62615c; border-bottom:1px solid #2b2924; color:#fff; border-top:none; font-size:14px; padding:10px;}
  
  #crop-list-dropdown .dropdown, 
  #countries-list-dropdown .dropdown {
    background:#62615c;
  }
  
  .tab-pane .all-posts .post-inner {
    border-left:none;
    border-right:none;
    margin:10px -15px 0 -40px;
  }
  
  .tab-pane .all-posts .post .post-head .post-head-content {
    font-size:12px;
  }
  
  #allfilters .filter-block .filter-new.dropdown .btn {
    min-width:330px;
  }
  
  #footer #nav-foot .nav {
    margin:0 10px;
  }
  
  #footer #nav-foot .nav li {
    display:block;
    padding:0 0 5px 0;
  }
  
  #footer .nav li a:before {
    content:none;
  }
  
  #footer #copyright {margin:0 10px;}
}