.jColorSelect {
    overflow:hidden;
    border:1px solid #d9dcdd;
    margin-top: 5px;
}
.jColorSelect div{
    background:url(/html/images/syronex-colorpicker.gif) no-repeat;
    float:left;
    width:42.6px;
    height:42.6px;
    cursor:pointer;
    overflow:hidden;
    border:1px solid #666666;
    margin:1px;
}

.jColorSelect .checkblk {
    cursor:default;
    background-position:right top;
}
.jColorSelect .color {
    cursor:default;
    background-position:-100px 0;
}